* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* ---------- */
  /* border: 1px solid red; */
}
:root {
  --operators-color: #000;
  --operators-background: #210024;
  --btn-background: #375e37;
  --btn-color: #000;
  --screen-background: #282244;
  --screen-color: #fff;
  --screen-border: #fff;
  --calculator-background: #000000;
  --calculator-border: #fff;
}
body {
  background: #282244;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calculator {
  background: #2f4c2f;
  max-width: 300px;
  box-shadow: #000 2px 7px 2px, #000 0px 8px 5px;
}
/* ================================================ */

#resultat {
  font-size: 40px;
  font-weight: 700;
}
#btn {
  background: #282244 !important;
  color: #fff;
  box-shadow: #000 0px 7px 2px, #000 0px 8px 5px;
}
#operator {
  box-shadow: #000 0px 7px 2px, #000 0px 8px 5px;
}
button {
  font-size: 25px !important;
  font-weight: 900 !important;
  position: relative;
  /* width: 150px; */
  border: none;
  background: var(--btn-background) !important;
  color: var(--btn-color);
  transition: 0.2s;
}

button:hover {
  opacity: 0.8;
}

button:active {
  top: 4px;
  box-shadow: #871395 0px 3px 2px, #000 0px 3px 5px;
}
#screen {
  background: var(--screen-background) !important;
  border-radius: 10px !important;
  color: var(--screen-color);
  box-shadow: #000 0px 7px 2px, #000 0px 8px 5px;
  font-size: 24px;
}
